@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-*: initial;
  /* dark shadows */
  --color-black-0: #d4d3d4;
  --color-black-50: #b8b6b8;
  --color-black-100: #9b999b;
  --color-black-150: #7f7c7e;
  --color-black-200: #625f61;
  --color-black-250: #464244;
  --color-black: #292526;
  --color-black-350: #221f20;
  --color-black-400: #1a191a;
  --color-black-450: #131313;
  --color-black-500: #0c0c0c;

  /* lush green */
  --color-green-0: #e8f3cc;
  --color-green-50: #cdeaaa;
  --color-green-100: #a8e089;
  --color-green-150: #7cd66a;
  --color-green-200: #4acb4d;
  --color-green-250: #2cbf4a;
  --color-green: #0eb24e;
  --color-green-350: #00a022;
  --color-green-400: #008600;
  --color-green-450: #006300;
  --color-green-500: #003800;

  /* vermillion */
  --color-red-0: #fbccff;
  --color-red-50: #ffabf7;
  --color-red-100: #fd8cdd;
  --color-red-150: #fb6db8;
  --color-red-200: #f74f89;
  --color-red-250: #f33250;
  --color-red: #ed1c16;
  --color-red-350: #e50000;
  --color-red-400: #cb0000;
  --color-red-450: #b10000;
  --color-red-500: #970000;

  /* muted */
  --color-muted-0: #fdfdfd;
  --color-muted-50: #fafafa;
  --color-muted-100: #eaeaea;
  --color-muted-150: #e5e5e5;
  --color-muted-200: #dfdfdf;
  --color-muted-250: #d3d3d3;
  --color-muted: #cccccc;
  --color-muted-350: #c7c7c7;
  --color-muted-400: #c3c3c3;
  --color-muted-450: #bebebe;
  --color-muted-500: #bababa;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.sekx__signup_cta--form-wrapper:focus-within label {
  transform: translate(-14px, -18px) scale(0.76788);
}
.sekx__signup_cta--form-wrapper--on-blur label {
  transform: translate(-14px, -18px) scale(0.76788);
}

.triangle-container {
  width: 300px;
  background: #4a90e2; /* Triangle color */
  clip-path: polygon(50% 0, 0 100%, 100% 100%); /* Triangle shape */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* Text color */
  text-align: center;
}
